#solar-menu{
  .menu-box{
    margin: 10px 10px;
    background: #fff;
    width: 200px;
    height: 50px;
    display: inline-block;
    position: relative;
    padding: 10px;
    font-size: 21px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.4);
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    -ms-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    .delete-menu{
      position: absolute;
      right: 5px;
      top:15px;
      opacity: 0;
      -webkit-transition:all 0.25s ease-in-out;
      -moz-transition:all 0.25s ease-in-out;
      -o-transition:all 0.25s ease-in-out;
      -ms-transition:all 0.25s ease-in-out;
      transition:all 0.25s ease-in-out;
    }
    .edit-menu{
      position: absolute;
      right:45px;
      top:15px;
      opacity: 0;
      -webkit-transition:all 0.25s ease-in-out;
      -moz-transition:all 0.25s ease-in-out;
      -o-transition:all 0.25s ease-in-out;
      -ms-transition:all 0.25s ease-in-out;
      transition:all 0.25s ease-in-out;
    }
    &:hover{
      background: #eee;
      .delete-menu{

        opacity: 1;
      }
      .edit-menu{

        opacity: 1;
      }
    }
  }



  .menu-bottom{
    margin-top: 20px;
  }

  .add-btn{
    background: green;
    color: #fff;
    font-weight: bolder;
    border: none;
    position: absolute;
    margin: 0;
    vertical-align: middle;
    top:4px;
    right: 25px;
  }
  .del-btn{
    background: red;
    color: #fff;
    font-weight: bolder;
    border: none;
    position: absolute;
    margin: 0;
    vertical-align: middle;
    top:4px;
    right: 5px;
  }

  .icon-btn{
    cursor: pointer;
  }
  .menu-title{
    display: inline-block;
    vertical-align: top;
    input{
      padding: 0 3px;
      border: 1px solid #ccc;
      max-width: 150px;
    }
  }

}

